.App {
  text-align: center;
  border: 1px solid red;
  width: 1000px;
  margin: 0 calc(50% - 500px);
}
nav{
  display: flex;
  justify-content: flex-end;
}
nav button{
  margin:  0 10px ;
}
.FilterList{
  padding:10px 0;
}
.channelList{
  display: flex;
  flex-flow: wrap;
  align-content: space-between;
}
.channelList.line{
  flex-flow: column;
}
.ItemListing{
  display: flex;
  margin-left: 10px;
  margin-bottom: 10px;
}
.ItemListing > .grid, .ItemListing > .list{
  margin: 0 5px ;
  font-size:20px;
}

.active{
  pointer-events: none;
  color: #cccccc;
}
