.App {
  text-align: center;
  border: 1px solid red;
  width: 1000px;
  margin: 0 calc(50% - 500px);
}
nav{
  display: flex;
  justify-content: flex-end;
}
nav button{
  margin:  0 10px ;
}
.FilterList{
  padding:10px 0;
}
