.channelList{
    display: flex;
    flex-flow: wrap;
    align-content: space-between;
  }
  .channelList.line{
    flex-flow: column;
    width: 100%
  }
  .ItemListing{
    display: flex;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .ItemListing > .grid, .ItemListing > .list{
    margin: 0 5px ;
    font-size:20px;
  }
    .active{
        pointer-events: none;
        color: #cccccc;
    }
.channelItem{
    position: relative;
    display: flex;
    border: 1px solid;
    margin: 10px;
    align-items: center;
    padding-right: 10px;
    background-color: rgba(18,204,0,1);
    color: rgba(255,255,255,1);
    font-size: 25px;
}

.channelItem.checked {
    background-color: red;
}

    .channelItem > .edit {
        padding-top: 7px;	
        padding-right: 7px;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 15px;
        color: black;
        display: none;
    }
    .channelItem:hover{
        cursor: pointer;
        box-shadow: 0 0 20px rgba(0,0,0,0.8);

    }

    .channelItem:hover > .edit{
        display: inline-block;
        position: absolute;
        width: 50px;
        width: 20px;
        z-index: 99;
    }

    .channelItem > strong{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    img{
        height: 50px;
        width: auto;
        padding: 10px;
    }
